.block {
    margin: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

.block__summary_img {
    cursor: pointer;
}

.block__summary {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 0;
}

.block__summary_button {
    width: 60%;
}

.block__description {
    display: grid;


    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 3fr 2fr;

    grid-template-areas:
    "n n co"
    "d d ci";

    border: 2px solid black;
    border-radius: 10px;
}

.block__description_name {
    grid-area: n;
}

.block__description_description {
    grid-area: d;
}

.block__description_city {
    text-align: right;
    grid-area: ci;
}

.block__description_country {
    text-align: right;
    grid-area: co;
}

.block__description_text {
    margin: 10px;
}