.block {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block__title {
    margin: 10px;
}

.block__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block__lowerPage {
    align-self: center;
}

.block__buttonPage {
    display: flex;
}

.block__page_button {
    margin: 0 5px;
}

.block__Fetching {
    align-self: center;
}