.nav {
    grid-area: n;
}

.friends {
    grid-area: f;
}

.block_text {

    font-size: 30px;
    margin: 20px 30px;
}

a {
    color: black;
    text-decoration: none;
}

a.active {
    color: white;
}

