* {
  font-family: Arial;
}

.block {
  background: lightblue;
  border: black 2px solid;
  margin: 10px;
}

.title {
  font-size: 40px;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  max-width: 60%;



  grid-template-areas:
  "h h"
  "n c"
  "n p";

  grid-template-rows: 1fr 6fr 4fr;
  grid-template-columns: 2fr 10fr;
}







