

.header, .nav, .content {
  background: lightgreen;
  border: black 2px solid;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 1fr 20fr;
  grid-template-columns: 2fr 10fr;
}







