* {
  font-family: Arial;
}

.header, .nav, .content {
  background: lightblue;
  border: black 2px solid;
  margin: 10px;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  max-width: 60%;



  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 1fr 8fr;
  grid-template-columns: 2fr 10fr;
}







