.posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.posts__title {
    margin: 30px;
}

.form {
    margin: 20px;
}

.form__area {
    width: 80%;
    height: 150px;
}

.form__button {
    margin: 20px 100px;
}

