.messanger {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.DialogsTitle {
    color: black;
    margin: 20px 20px 40px 20px;
    padding: 5px;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.messages {

}