.posts__items {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}


.items__img{
    float: left;
}

.items__text {
    margin: 15px 30px 0 70px;
    padding: 5px 0 0 50px;
}

.I {
    align-self: flex-start;
}

.Someone {
    align-self: flex-end;
}