.posts__items {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.messages .posts__items {
    margin: 10px 150px 10px 40px;
}

.items__img{
    float: left;
}

.items__text {
    margin: 15px 30px 0 70px;
    padding: 5px 0 0 50px;
}